.counter-container {
  text-align: center;
  margin-top: 100px;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
  margin-bottom: 10px;
}

h2 {
  color: #555;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:nth-of-type(1) {
  background-color: #b82864;
  color: white;
}

button:nth-of-type(1):hover {
  background-color: #b82864;
}

button:nth-of-type(2) {
  background-color: #6913af;
  color: white;
}

button:nth-of-type(2):hover {
  background-color: #6913af;
}

button:nth-of-type(3) {
  background-color: #2196F3;
  color: white;
}

button:nth-of-type(3):hover {
  background-color: #1976d2;
}